body {
    background-color: #EEE;
    font-family: 'Roboto Condensed';
}

img {
    display: block;
    margin: auto;
}

article {
    background-color: #DDD;
    margin: auto;
    width: 50%;
}

h2 {
    margin: auto;
    font-style: oblique;
}