body {
    background-color: #EEE;
    font-family: 'Roboto Condensed';
}

img {
    display: block;
    margin: auto;
}

article {
    background-color: #DDD;
    margin: auto;
    width: 50%;
}

h2 {
    margin: auto;
    font-style: bold;
}

h1 {
    font-size: 2em;
    transition: 1s;
    margin: auto;
}

h1:hover {
    font-size: 3em;
}

li:nth-child(3) {
    background-color: red;
    font-weight: 700;
}

.tab {
    width: 10px;
}